In [ ]:
import pandas as pd

In [ ]:
melbourne_data = pd.read_csv('melb_data.csv')
melbourne_data

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [ ]:
melbourne_data.dropna(axis=0)

             Suburb          Address  ...             Regionname Propertycount
1        Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2        Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4        Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6        Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7        Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0
...             ...              ...  ...                    ...           ...
12205    Whittlesea    30 Sherwin St  ...      Northern Victoria        2170.0
12206  Williamstown      75 Cecil St  ...   Western Metropolitan        6380.0
12207  Williamstown    2/29 Dover Rd  ...   Western Metropolitan        6380.0
12209       Windsor  201/152 Peel St  ...  Southern Metropolitan        4380.0
12212    Yarraville  54 Pentland Pde  ...   Western Metropolitan        6543.0

[6196 rows x 21 columns]

In [ ]:
y = melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [ ]:
x = melbourne_data[melbourne_features]
x.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [ ]:
x.head(10)

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
5      2       1.0     181.0   -37.8041    144.9953
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
8      1       1.0       0.0   -37.8008    144.9973
9      2       1.0     220.0   -37.8010    144.9989

In [ ]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state = 1)
melbourne_model.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [ ]:
print("Making predictions for first 5 houses:")
print(x.head())
print("Predictions are:")
print(melbourne_model.predict(x.head()))
print("Actual prices are:")
print(melbourne_data['Price'].head())

Making predictions for first 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
Predictions are:
[1480000. 1035000. 1465000.  850000. 1600000.]
Actual prices are:
0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error
predicted = melbourne_model.predict(x)
mean_absolute_error(y,predicted)

1125.1804614629357

In [ ]:
from sklearn.model_selection import train_test_split
train_X , val_X, train_y, val_y = train_test_split(x,y,random_state = 1)
melbourne_model.fit(train_X,train_y)
val_prediction = melbourne_model.predict(val_X)
mean_absolute_error(val_y,val_prediction)

241632.16966126655

In [ ]:
def get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_X,train_y)
  pred_val = model.predict(val_X)
  mae = mean_absolute_error(val_y,pred_val)
  return mae

In [ ]:
#compare mae with differing values of max_leaf_nodes
for max_leaf_nodes in [5,50,500,5000]:
  may_mae = get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y)
  print("max_leaf_nodes : %d \t\t Mean Absolute Error : %d" %(max_leaf_nodes,may_mae))

max_leaf_nodes : 5 		 Mean Absolute Error : 356157
max_leaf_nodes : 50 		 Mean Absolute Error : 264538
max_leaf_nodes : 500 		 Mean Absolute Error : 222979
max_leaf_nodes : 5000 		 Mean Absolute Error : 240506

***Random Forests*** :

The random forest uses many trees, and it makes a prediction by averaging the predictions of each component tree. It generally has much better predictive accuracy than a single decision tree and it works well with default parameters. If you keep modeling, you can learn more models with even better performance, but many of those are sensitive to getting the right parameters.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
forest_model = RandomForestRegressor(random_state = 2)
forest_model.fit(train_X,train_y)
forest_pred = forest_model.predict(val_X)
print(mean_absolute_error(val_y,forest_pred))

180704.04500137924

**Dealing with missing values and categorical values**

In [ ]:
melbourne_data = pd.read_csv("melb_data.csv")
melbourne_data

melbourne_data.shape

(13580, 21)

In [ ]:
#find out the no of missing values
melbourne_data.isna().sum()
melbourne_data=melbourne_data.fillna(method="ffill")
melbourne_data.isna().sum()
melbourne_data = melbourne_data.dropna(axis=0)
melbourne_data.head()

       Suburb           Address  ...             Regionname Propertycount
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
5  Abbotsford    129 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
y = melbourne_data.Price
x = melbourne_data.drop(['Price'], axis=1)
x_train_full, x_valid_full, y_train, y_valid = train_test_split(x, y, train_size=0.8, test_size=0.2,random_state=0)
low_card_columns = [cname for cname in x_train_full.columns if x_train_full[cname].nunique() < 10 and x_train_full[cname].dtype == 'object' ]
#select numerical columns
numerical_columns = [cname for cname in x_train_full.columns if x_train_full[cname].dtype in ['int64','float64']]
#keep selected columns
my_cols = low_card_columns + numerical_columns
x_train = x_train_full[my_cols].copy()
x_valid = x_valid_full[my_cols].copy()
x_train.head()
x_valid.head()

      Type Method             Regionname  ...  Lattitude  Longtitude  Propertycount
11483    h      S  Northern Metropolitan  ...  -37.70964   145.01710        21650.0
11048    h      S  Northern Metropolitan  ...  -37.71636   145.09792         8524.0
9422     u      S   Eastern Metropolitan  ...  -37.83777   145.26345         5030.0
6907     h      S  Northern Metropolitan  ...  -37.71940   144.96780         5070.0
11560    u      S   Western Metropolitan  ...  -37.75882   144.90270         1543.0

[5 rows x 15 columns]

In [ ]:
#create a list of column name with object datatype
s= (x_train.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)

['Type', 'Method', 'Regionname']

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def score_dataset(x_train,x_valid,y_train,y_valid):
  model = RandomForestRegressor(n_estimators=100,random_state=2)
  model.fit(x_train,y_train)
  preds = model.predict(x_valid)
  return mean_absolute_error(y_valid,preds)

In [ ]:
#approach 1 : drop the categorical variables
drop_x_train = x_train.select_dtypes(exclude='object')
drop_x_valid = x_valid.select_dtypes(exclude='object')
print("MAE from approach 1 :",score_dataset(drop_x_train,drop_x_valid,y_train,y_valid))

MAE from approach 1 : 172858.32694473665

In [ ]:
#approach 2: Use lebel encoder
from sklearn.preprocessing import LabelEncoder
label_x_train = x_train.copy()
label_x_valid = x_valid.copy()
#apply label to each column with categorical value
label_encoder = LabelEncoder()
for col in object_cols:
  label_x_train[col] = label_encoder.fit_transform(label_x_train[col])
  label_x_valid[col] = label_encoder.fit_transform(label_x_valid[col])
print("MAE from approach 2(Label Encoding) :",score_dataset(label_x_train,label_x_valid,y_train,y_valid))

MAE from approach 2(Label Encoding) : 163629.4848444842

In [ ]:
#approch 3 : one hot encoding
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(x_train[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(x_valid[object_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = x_train.index
OH_cols_valid.index = x_valid.index

# Remove categorical columns (will replace with one-hot encoding)
num_x_train = x_train.drop(object_cols, axis=1)
num_x_valid = x_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_x_train = pd.concat([num_x_train, OH_cols_train], axis=1)
OH_x_valid = pd.concat([num_x_valid, OH_cols_valid], axis=1)

print("MAE from approach 3(One Hot Encoder) :",score_dataset(OH_x_train,OH_x_valid,y_train,y_valid))

MAE from approach 3(One Hot Encoder) : 162593.72050073638

***Pipelines***
Pipelines are a simple way to keep your data preprocessing and modeling code organized. Specifically, a pipeline bundles preprocessing and modeling steps so you can use the whole bundle as if it were a single step.

Many data scientists hack together models without pipelines, but pipelines have some important benefits. Those include:

Cleaner Code: Accounting for data at each step of preprocessing can get messy. With a pipeline, you won't need to manually keep track of your training and validation data at each step.

Fewer Bugs: There are fewer opportunities to misapply a step or forget a preprocessing step.

Easier to Productionize: It can be surprisingly hard to transition a model from a prototype to something deployable at scale. We won't go into the many related concerns here, but pipelines can help.

More Options for Model Validation: You will see an example in the next tutorial, which covers cross-validation.

## **Step 1**: Define Preprocessing Steps
Similar to how a pipeline bundles together preprocessing and modeling steps, we use the ***ColumnTransformer*** class to bundle together different preprocessing steps. The code below:

1)imputes missing values in numerical data

2)imputes missing values and applies a one-hot encoding to categorical data.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

#preprocessing numerical data
numerical_transformer = SimpleImputer(strategy = 'constant')

#preprocessing categorical data
categorical_transformer = Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),('onehot',OneHotEncoder(handle_unknown='ignore'))])

#bundle preprocessing
preprocesor = ColumnTransformer(transformers=[('num',numerical_transformer,numerical_columns),('cat',categorical_transformer,low_card_columns)])

# Step 2: Define the Model
Next, we define a random forest model with the familiar RandomForestRegressor class

In [ ]:
model = RandomForestRegressor(n_estimators=100,random_state=0)

## Step 3: Create and Evaluate the Pipeline

Finally, we use the Pipeline class to define a pipeline that bundles the preprocessing and modeling steps. There are a few important things to notice:

With the pipeline, we preprocess the training data and fit the model in a single line of code. (In contrast, without a pipeline, we have to do imputation, one-hot encoding, and model training in separate steps. This becomes especially messy if we have to deal with both numerical and categorical variables)

With the pipeline, we supply the unprocessed features in X_valid to the predict() command, and the pipeline automatically preprocesses the features before generating predictions. (However, without a pipeline, we have to remember to preprocess the validation data before making predictions.)

In [ ]:
my_pipeline = Pipeline(steps=[('preprocessor',preprocesor),('model',model)])
my_pipeline.fit(x_train,y_train)
predict = my_pipeline.predict(x_valid)
score = mean_absolute_error(y_valid,predict)
print("MAE :",score)

MAE : 161606.39844869904

In [ ]:
#final Output
output = pd.DataFrame({'Id': x_valid.index,'SalePrice': predict})
output.head(10)

      Id   SalePrice
0  11483   830040.00
1  11048   843021.17
2   9422   649055.00
3   6907   762481.50
4  11560   302357.00
5   2154  1286645.00
6   9903   728609.82
7   9468  1260840.00
8   7805   346330.00
9   9200  1604125.00

### Cross Validation
In this tutorial, you will learn how to use cross-validation for better measures of model performance.

**Introduction**\
Machine learning is an iterative process.

You will face choices about what predictive variables to use, what types of models to use, what arguments to supply to those models, etc. So far, you have made these choices in a data-driven way by measuring model quality with a validation (or holdout) set.

But there are some drawbacks to this approach. To see this, imagine you have a dataset with 5000 rows. You will typically keep about 20% of the data as a validation dataset, or 1000 rows. But this leaves some random chance in determining model scores. That is, a model might do well on one set of 1000 rows, even if it would be inaccurate on a different 1000 rows.

At an extreme, you could imagine having only 1 row of data in the validation set. If you compare alternative models, which one makes the best predictions on a single data point will be mostly a matter of luck!

In general, the larger the validation set, the less randomness (aka "noise") there is in our measure of model quality, and the more reliable it will be. Unfortunately, we can only get a large validation set by removing rows from our training data, and smaller training datasets mean worse models

# What is cross-validation?
In cross-validation, we run our modeling process on different subsets of the data to get multiple measures of model quality.

For example, we could begin by dividing the data into 5 pieces, each 20% of the full dataset. In this case, we say that we have broken the data into 5 "folds".


Then, we run one experiment for each fold:

In Experiment 1, we use the first fold as a validation (or holdout) set and everything else as training data. This gives us a measure of model quality based on a 20% holdout set.
In Experiment 2, we hold out data from the second fold (and use everything except the second fold for training the model). The holdout set is then used to get a second estimate of model quality.
We repeat this process, using every fold once as the holdout set. Putting this together, 100% of the data is used as holdout at some point, and we end up with a measure of model quality that is based on all of the rows in the dataset.

# When should you use cross-validation?
Cross-validation gives a more accurate measure of model quality, which is especially important if you are making a lot of modeling decisions. However, it can take longer to run, because it estimates multiple models (one for each fold).

So, given these tradeoffs, when should you use each approach?

1)For small datasets, where extra computational burden isn't a big deal, you should run cross-validation.

2)For larger datasets, a single validation set is sufficient. Your code will run faster, and you may have enough data that there's little need to re-use some of it for holdout.

There's no simple threshold for what constitutes a large vs. small dataset. But if your model takes a couple minutes or less to run, it's probably worth switching to cross-validation.

Alternatively, you can run cross-validation and see if the scores for each experiment seem close. If each experiment yields the same results, a single validation set is probably sufficient.

In [ ]:
import pandas as pd

# Read the data
data = pd.read_csv('melb_data.csv')

# Select subset of predictors
cols_to_use = ['Rooms', 'Distance', 'Landsize', 'BuildingArea', 'YearBuilt']
X = data[cols_to_use]

# Select target
y = data.Price

In [ ]:
# we define a pipeline that uses an imputer to fill in missing values and a random forest model to make predictions.
#While it's possible to do cross-validation without pipelines, it is quite difficult! Using a pipeline will make the code remarkably straightforward.

my_pipeline1 = Pipeline(steps=[('Imputer',SimpleImputer(strategy='most_frequent')),('model',RandomForestRegressor(n_estimators=100,random_state=0))])

We obtain the cross-validation scores with the cross_val_score() function from scikit-learn. We set the number of folds with the cv parameter.

In [ ]:
from sklearn.model_selection import cross_val_score

#multply by -1 as sklearn calc negative mae
scores = -1 * cross_val_score(my_pipeline1,X,y,cv=5,scoring='neg_mean_absolute_error')
print('MAE scores :',scores)

MAE scores : [300194.56719879 301394.41662088 289451.61749947 233468.01960992
 258284.66863905]

In [ ]:
print("mean:",scores.mean())

mean: 276558.6579136213

### Conclusion
Using cross-validation yields a much better measure of model quality, with the added benefit of cleaning up our code: note that we no longer need to keep track of separate training and validation sets. So, especially for small datasets, it's a good improvement!